{
   "tabWidth": 3,
   "printWidth": 120,
   "semi": false,
   "singleQuote": true,
   "arrowParens": "avoid",
   "trailingComma": "es5",
   "plugins": ["@trivago/prettier-plugin-sort-imports"],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "importOrder": [
      "<THIRD_PARTY_MODULES>",

      "^dotenv/config$",

      "^(.*)aliases$",

      "core",

      "^env$",

      "^auth(.*)",

      "^database(.*)",

      "^generated(.*)",

      "^@automatedLinkedIn(.*)",

      "^trpc(.*)",
      "^trpc$",

      "^middlewares(.*)",

      "^helpers$",
      "(.*)helpers$",

      "^utils$",
      "(.*)utils$",

      "^types(.*)",
      "(.*)types$",

      "^[./]"
   ]
}
